<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/Unit/Controller</directory>
            <directory suffix="Test.php">tests/Unit/Listener</directory>
            <directory suffix="Test.php">tests/Unit/Middleware</directory>
            <file>tests/Unit/Service/SavePolicyUiStringsTest.php</file>
            <file>tests/Unit/Service/AccessControlServiceTest.php</file>
            <file>tests/Unit/Service/OrgPolicySaveAuditTest.php</file>
            <file>tests/Unit/Service/TimeEntryServiceValidationTest.php</file>
            <file>tests/Unit/Service/JsL10nCatalogBuilderTest.php</file>
            <file>tests/Unit/Controller/TimeEntryControllerTest.php</file>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">lib</directory>
        </include>
        <exclude>
            <directory suffix=".php">lib/Migration</directory>
        </exclude>
        <report>
            <html outputDirectory="tests/coverage" lowUpperBound="35" highLowerBound="70"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="tests/results.xml"/>
    </logging>
</phpunit>
